1) Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [2]:
test1='This is a test of the emergency text system,'
file = open("test.txt","w")
file.write(test1)
file.close()

2) Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [7]:
with open('test.txt','r') as f1:
    test2=f1.read()

test2

'This is a test of the emergency text system,'

3) Create a CSV file called books.csv by using these lines:

In [1]:
import csv

header = ['title','author','year']
data = [
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]
]

with open('books.csv', 'w', encoding='UTF8', newline='') as f:
    writer = csv.writer(f)

    # write the header
    writer.writerow(header)

    # write multiple rows
    writer.writerows(data)

4.) Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [6]:
import sqlite3

conn = sqlite3.connect('books.db')

print("Opened database successfully")

conn.execute("CREATE TABLE books (title TEXT,author TEXT,year INT)")

print("Table created successfully")

conn.close()

Opened database successfully
Table created successfully

5) Read books.csv and insert its data into the book table

In [7]:
import csv, sqlite3

con = sqlite3.connect("books.db") 
cur = con.cursor()

with open('books.csv','r') as fin:
    # csv.DictReader uses first line in file for column headings by default
    dr = csv.DictReader(fin) # comma is default delimiter
    to_db = [(i['title'], i['author'],i['year']) for i in dr]

cur.executemany("INSERT INTO books (title, author,year) VALUES (?, ?,?);", to_db)
con.commit()
con.close()

6) Select and print the title column from the book table in alphabetical order.

In [9]:
import csv
import sqlite3

connection = sqlite3.connect('books.db')
cursor = connection.cursor()

select_all = "SELECT title FROM books ORDER BY title ASC"
rows = cursor.execute(select_all).fetchall()

# Output to the console screen
for r in rows:
    print(r[0])

# Committing the changes
connection.commit()

# closing the database connection
connection.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

7) From the book table, select and print all columns in the order of publication.

In [10]:
import csv
import sqlite3

connection = sqlite3.connect('books.db')
cursor = connection.cursor()

select_all = "SELECT * FROM books ORDER BY year"
rows = cursor.execute(select_all).fetchall()

# Output to the console screen
for r in rows:
    print(r)

# Committing the changes
connection.commit()

# closing the database connection
connection.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China MiÃ©ville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

8) Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [11]:
import sqlalchemy
engine=sqlalchemy.create_engine(f'sqlite:///books.db')

9) Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [ ]:
! python -m pip install redis
import redis
conn = redis.Redis()
conn.hset('test',{
    'count':1,
    'name':'Fester Bestertester'
})
conn.hgetall('test')

10) Increment the count field of test and print it.

In [ ]:
conn.hincrby('test', 'count', 1)
conn.hget('test', 'count')