Q-17) Write an SQL query to show the top n (say 10) records of a table.
- SELECT * FROM Worker ORDER BY Salary DESC LIMIT 10;

or

- SELECT TOP 10 * FROM Worker ORDER BY Salary DESC;

or

-SELECT * FROM (SELECT * FROM Worker ORDER BY Salary DESC)
WHERE ROWNUM <= 10;

Q-18) Write an SQL query to determine the nth (say n=5) highest salary from a table.
- SELECT Salary FROM Worker ORDER BY Salary DESC LIMIT n-1,1;

or

- SELECT TOP 1 Salary FROM (SELECT DISTINCT TOP n Salary FROM Worker ORDER BY Salary DESC) ORDER BY Salary ASC;