Q13) Write an SQL query to show only odd rows from aÂ table.
- SELECT * FROM Worker WHERE MOD (WORKER_ID, 2) <> 0;

Q14) Write an SQL query to clone a new table from another table.

- CREATE TABLE Contact List(Clone_1) LIKE Original_table;

- CREATE TABLE Contact List(Clone_1) AS SELECT * FROM Original_table; 
                 OR
- INSERT INTO Contact List(Clone_1) SELECT * FROM original_table;